.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/*Header*/
.header {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;

}
.top {
    display: grid;
    border: 1px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
}

.search-icon {
    width: 25px;
    height: 25px;
}

.bell {
    width: 25px;
    height: 25px;
}

.race-helm {
    width: 50px;
    height: 50px;
}

/*Welcome Banner*/
.bottom {
    display: grid;
    border: 1px solid black;
    grid-row-start: 2;
    grid-row-end: 3;
}

.user-icon {
    width: 75px;
    height: 75px;
}

.side-nav {
    display: grid;
    border: 1px solid blue;
    grid-row-start: 1;
    grid-row-end: 5;
}

.nav-opts {
    display: grid;
    border: 1px solid red;
}

.nav-settings {
    display: grid;
    border: 1px solid green;
}

.body {
    border: 1px solid green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}

.announcements {
    border: 1px solid black;
}

.trending {
    border: 1px solid purple;
}