
body {
    background: darkgray;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template: auto 4fr/ 1fr 4fr
}

/*Header*/
.header {
    background-color: white;
    display: grid;
    grid-template: auto 1fr/ 2fr 1fr;
    padding: 0.5rem 2rem;
}
.search-container {
    display: flex;
    align-items: center;
    grid-area: 1/1/2/2;
    gap: 1rem;

}

.search-icon {
    width: 25px;
    height: 25px;
}

.search-bar {
    color: gray;
    grid-column-start: ;
}

.profile-container {
    border: 1px solid green;
    grid-row-start: 2;
}

.bell {
    width: 25px;
    height: 25px;
}

.race-helm {
    width: 50px;
    height: 50px;
}

.welcome-container {
    border: 1px solid purple;
}

.btns-container {
    border: 1px solid black;
}

/*Welcome Banner*/
.bottom {
    display: grid;
    border: 1px solid black;
}

.user-icon {
    width: 75px;
    height: 75px;
}

.side-nav {
    background-color: red;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
}

.nav-img {
    height: 2rem;
}

.nav-icon {
    width: 25px;
    height: 25px;
}

.nav-opts {
    display: grid;
    border: 1px solid red;
}

.nav-settings {
    display: grid;
    border: 1px solid green;
}

.content {
    border: 1px solid green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}

.announcements {
    border: 1px solid black;
}

.trending {
    border: 1px solid purple;
}