.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header {
    border: 1px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
}

.bell {
    width: 25px;
    height: 25px;
}

.welcome {
    border: 1px solid black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.side-nav {
    border: 1px solid blue;
    grid-row-start: 1;
    grid-row-end: 5;
}

.nav-opts {
    display: grid;
    border: 1px solid red;
}

.nav-settings {
    display: grid;
    border: 1px solid green;
}

.body {
    border: 1px solid green;
}

.announcements {
    border: 1px solid black;
}

.trending {
    border: 1px solid purple;
}